.tabs-menu__container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: azure;
}

.tabs__list {
  flex: 1 2 10rem;
}

.submenu__list {
  flex: 1 2 10rem;
}

.description__container {
  flex: 1 1 10rem;
}

.description__container > *:hover {
  background-color: salmon;
}

.menu-item > * {
  place-self: center;
}

.menu-item-active,
.submenu-item-active {
  background-color: salmon;
}
